@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(54, 54, 216);
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.buttons .start-btn {
    /* display: none; */
    border: 1px solid #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 25px;
    color: rgb(54, 54, 216);
    outline: rgb(54, 54, 216);
    box-shadow: 6px 5px 3px 3px rgb(75, 59, 59);
}


/* 
.buttons .start-btn:hover {
    color: #fff;
    background-color: rgb(54, 54, 216);
    border: 1px solid #fff;
    transition: 0.2s;
    box-shadow: 3px 2px 1px 1px rgb(75, 59, 59);
} */

.buttons .start-btn:active {
    color: #fff;
    background-color: rgb(54, 54, 216);
    border: 1px solid #fff;
    transition: 0.2s;
    box-shadow: 3px 2px 1px 1px rgb(75, 59, 59);
    cursor: pointer;
}

.quiz {
    display: none;
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 30%;
    top: 10%;
}

.quiz header {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 1rem;
    border-bottom: 2px solid lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.quiz header .quiz-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 7px;
}

.quiz header .timer-section {
    display: flex;
    margin-left: 1rem;
    background-color: deepskyblue;
    padding: 10px;
    border: 1px solid rgb(4, 144, 190);
    border-radius: 3px;
}

.quiz header .timer-section .timer {
    margin-left: 0.5rem;
    padding: 0 10px 0 10px;
    background-color: rgb(41, 39, 39);
    color: #fff;
    border-radius: 5px;
}

.quiz section {
    background-color: #fff;
    padding: 1rem;
}

.quiz section .question {
    font-size: 25px;
    font-weight: 600;
}

.variant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 10px;
    border: 2px solid rgb(182, 182, 235);
    margin-top: 1rem;
    border-radius: 5px;
    background-color: rgb(223, 242, 253);
}

.variant:hover {
    background-color: rgb(183, 193, 250);
    border-color: rgb(108, 108, 221);
    cursor: pointer;
}

.variant .icon {
    width: 26px;
    height: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.variant .icon.tick {
    color: rgb(33, 155, 33);
    border-color: rgb(33, 155, 33);
    background: rgb(182, 240, 194);
}

.variant .icon.cross {
    color: rgb(163, 34, 34);
    border-color: rgb(163, 34, 34);
    background: rgb(245, 201, 223);
}

.variant.correct {
    color: rgb(28, 105, 28);
    border-color: rgb(33, 155, 33);
    background: rgb(182, 240, 194);
}

.variant.incorrect {
    color: rgb(172, 45, 45);
    border-color: rgb(163, 34, 34);
    background: rgb(245, 201, 223);
}

.variant.disable {
    pointer-events: none;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 20px;
    border-top: 2px solid lightgray;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
}

footer .next-btn {
    margin-left: 10rem;
    background-color: rgb(54, 54, 216);
    padding: 1px 5px 1px 5px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid rgb(54, 54, 216);
    font-size: 20px;
}

footer .next-btn:hover {
    color: rgb(54, 54, 216);
    background-color: #fff;
    cursor: pointer;
}

footer .end-btn {
    display: none;
    margin-left: 10rem;
    background-color: rgb(54, 54, 216);
    padding: 1px 5px 1px 5px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid rgb(54, 54, 216);
    font-size: 20px;
}

footer .end-btn:hover {
    color: rgb(54, 54, 216);
    background-color: #fff;
    cursor: pointer;
}

.end-of-quiz {
    display: none;
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 3px 3px rgb(47, 51, 56);
}

.restart {
    margin-top: 1rem;
    background-color: rgb(54, 54, 216);
    text-align: center;
    font-size: 25px;
    color: #fff;
    border: 2px solid rgb(54, 54, 216);
    border-radius: 5px;
    box-shadow: 3px 3px lightslategray;
}

.restart:hover {
    color: rgb(54, 54, 216);
    background-color: #fff;
    cursor: pointer;
    box-shadow: 1.5px 1.5px lightslategray;
}