* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.rgb-circle {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    position: absolute;
    opacity: 1;
    transition: opacity 500ms;
}

.rgb-circle.hide {
    opacity: 0;
    transition: 2s;
}